<div class="row">
  <div class="col-md-10">
    <p> This workshop was recorded and is available for viewing using the links below.</p>
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th style="text-align:center;">Workshop Title</th>
                <th style="text-align:center;">Video</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:left;"><a href="{{page.root}}{% link _episodes/Workshop1.md %}">HOWTO: Automate the boring bits</a></td>
                <td style="text-align:center;">
                    <a href="https://www.youtube.com/watch?v=_kqa1lhy_Pw" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;"><a href="{{page.root}}{% link _episodes/Workshop2.md %}">HOWTO: Build on past success</a></td>
                <td style="text-align:center;">
                    <a href="https://youtu.be/nkhR3JL5g98" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;"><a href="{{page.root}}{% link _episodes/Workshop3.md %}">HOWTO: Accelerate your research</a></td>
                <td style="text-align:center;">
                    <a href="https://youtu.be/PRXRuv4uA3M?si=B93HSJg3DrqxwENk" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;"><a href="{{page.root}}{% link _episodes/Workshop4.md %}">HOWTO: Leverage GitHub for Research</a></td>
                <td style="text-align:center;">
                    <a href="https://youtu.be/m-EKMu3Pk9g" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>