<div class="row">
  <div class="col-md-10">
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th style="text-align:center;">Workshop Title</th>
                <th style="text-align:center;">Primary Instruction</th>
                <th style="text-align:center;">Video</th>
                <th style="text-align:center;">Discussion and Followup</th>
                <th style="text-align:center;">Calendar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:left;"><a href="{{page.root}}{% link _episodes/Workshop1.md %}">HOWTO: Automate the boring bits</a></td>
                <td style="text-align:center;">May 12th - Monday, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <a href="https://www.youtube.com/watch?v=_kqa1lhy_Pw" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
                <td style="text-align:center;">May 15th - Thursday, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <a href="{{page.root}}{% link files/automate-boring-bits.ics %}" target="_blank">
                        <img src="{{page.root}}{% link files/cal_ico.png %}" alt="Calendar" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;"><a href="{{page.root}}{% link _episodes/Workshop2.md %}">HOWTO: Build on past success</a></td>
                <td style="text-align:center;">May 19th - Monday, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <a href="https://youtu.be/nkhR3JL5g98" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
                <td style="text-align:center;">May 22nd - Thursday, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <a href="{{page.root}}{% link files/build-on-past-success.ics %}" target="_blank">
                        <img src="{{page.root}}{% link files/cal_ico.png %}" alt="Calendar" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;"><a href="{{page.root}}{% link _episodes/Workshop3.md %}">HOWTO: Accelerate your research</a></td>
                <td style="text-align:center;">May 26th - Monday, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <!-- <a href="https://www.youtube.com/watch?v=example3" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a> -->
                </td>
                <td style="text-align:center;">May 29th - Thursday, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <a href="{{page.root}}{% link files/accelerate-your-research.ics %}" target="_blank">
                        <img src="{{page.root}}{% link files/cal_ico.png %}" alt="Calendar" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;">HOWTO: Leverage GitHub for Research</td>
                <td style="text-align:center;">June 10th - <em>Tuesday</em>, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <!-- <a href="https://www.youtube.com/watch?v=example4" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="YouTube" style="width: 24px; vertical-align: middle;">
                    </a> -->
                </td>
                <td style="text-align:center;">June 12th - Thursday, 3-5pm AEST / 1-3pm AWST</td>
                <td style="text-align:center;">
                    <a href="{{page.root}}{% link files/leverage-github-for-research.ics %}" target="_blank">
                        <img src="{{page.root}}{% link files/cal_ico.png %}" alt="Calendar" style="width: 24px; vertical-align: middle;">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
  
  The video conference link is included in the calendar invites, and linked in the header of this page, but also <a href="{{page.address}}">here</a>.
  </div>
</div>