{% comment %}
Describe here the intended audience of this workshop, give links to prerequisites, and list any other requirements.
{% endcomment %}

<p id="who">
  <strong>Who:</strong>
This lesson assumes you have a working knowledge of Python and some previous exposure to the Bash shell.
  These requirements can be fulfilled by:
  a) completing a Software Carpentry Python workshop or
  b) independent exposure to both Python and the Bash shell.

In addition, this lesson assumes that learners have some familiarity with astronomical concepts,
  including reference frames, proper motion, color-magnitude diagrams, globular clusters, and isochrones.
  Participants should bring their own laptops and plan to participate actively.
</p>
